.App {
  text-align: center;
  
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.CardContainer {
  margin: 40px 0;
}

.CardGrid {
  margin: 0 2% 2%;
}

.Card {
  margin: 0 2% !important;
}

.infected {
  background: #3498db;
  color: white;
  text-align: left;
}

.recovered {
  background: #27ae60;
  color: white;
  text-align: left;
}

.deaths {
  background: #e74c3c;
  color: white;
  text-align: left;
}

img {
  max-width: 75%;
}
